.footer{
  background-color: #3b3c3e;
  padding: 20px 0;
  color: white;
  font-size: 14px;
  line-height: 18px;
 font-family: inherit;
}
.footer-link {
  opacity: 0.5;
  text-decoration: underline;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
}