.form {
  max-width: 420px;
  margin: 0 auto 35px;
  padding: 0 5px;
  &__btn{
    width: 100%;
    max-width: 100%;
    margin:0 auto;
  }
  &__label{
    margin-bottom: 10px;
    display: block;
  }
  &__input {
    border: 1.14208px solid #963636;
border-radius: 41px;
    width: 100%;
    margin-bottom: 30px;
    font: 400 18px / 24px var(--font-second);
    height: 75px;
    outline: 2px solid transparent;
    padding: 0 25px;
    color: #121212;
    &::placeholder {
      font: 400 18px / 24px var(--font-second);
      color: #A7A7A7;
    }
  }
  &-text{
    padding-left: 25px;
    font:400 18px / 24px var(--font-second);
    color: $white;
  }
}